.footer {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


.fontSize_xxSmall {
  font-size: xx-small;
}
.fontSize_medium {
  font-size: medium;
}